body {
	background-size: cover;
	width: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	min-width: 266px;
}
button {
	background: transparent;
	border: none;
	cursor: pointer;
	transition: filter .2s;
	padding: 0;
	font-size: .9em;
	width: 30px;
	height: 30px;
	color: white;
	max-width: 10%;
	justify-content: center;
}
button, .video-time {
	color: white;
	text-align: center;
	box-sizing: content-box;
	padding: 3px 5px;
	display: flex;
	align-items: center;
}
.video-time {
	margin-right: auto;
	height: 30px;
	font-size: .92em;
	cursor: default;
	flex-direction: column;
	justify-content: space-between;
}
button:focus {
	outline: none;
}
button:not(:last-child) {
	margin-right: 10px;
}
button * {
	max-width: 100%;
}
button:first-of-type {
	margin-left: 10px;
	justify-content: flex-start;
}
button:not(:last-child) {
	margin-right: 0;
}
button:last-of-type {
	margin-right: 10px;
	justify-content: flex-end;
}
button:hover {
	filter: brightness(.7);
}
button#video-speed {
	transform: translateX(-4px);
}
button#closed-caption {
	transform: translateX(1px);
	position: relative;
}
.video-ctnr>*:not(.spinner-outer), .transcription {
	opacity: 0;
	transition: .5s opacity, top .5s;
}
.main-video, .transcription {
	display: block;
}
.main-video, .transcription, .video-ctrl-bar {
	margin: 0 auto;
	width: 100%;
}
.transcription {
	padding: 30px;
	box-sizing: border-box;
	color: #696969;
	font-size: 1em;
	line-height: 1.4;
	position: relative;
	background-color: white;
}
.transcription span.current {
	color: #E4921D;
}
.transcription span:hover {
	-webkit-box-shadow: inset 0px -2px 0px 0px orange;
	-moz-box-shadow: inset 0px -2px 0px 0px orange;
	box-shadow: inset 0px -2px 0px 0px orange;
}
.transcription span {
	cursor: pointer;
	transition: box-shadow .3s;
}
.video-ctrl-bar {
	opacity: 0;
	transition: top .5s, opacity .5s;
	top: 0px;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
	background: rgba(0, 0, 0, 0);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.75)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.video-ctnr {
	margin: auto;
	position: relative;
}
.js-godown {
	transform: translateY(100vh);
}
.js-video-full {
	width: 100%;
	max-width: 100%;
	margin: auto;
}
.js-vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.spinner-outer {
	transform: translate(-50%, -50%);
	width: 70px;
	height: 70px;
	left: calc(100%/2);
	top: calc(85vh/2);
	position: absolute;
	display: none;
}
.spinner {
	width: 100%;
	height: 100%;
	animation: spin 1s linear infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(150deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.outer-video-progress {
	padding: 5px 0;
	margin-bottom: 10px;
	width: 100%;
	cursor: pointer;
}
#video-progress {
	background-color: rgba(100, 100, 100, .28);
	height: 3.8px;
	width: 100%;
}
#separator {
	padding: 0 4px;
	display: none;
}
.progress-loaded {
	background-color: rgba(240, 240, 240, .3);
	height: 100%;
	width: 0;
}
.progress-current {
	background-color: orange;
	height: 100%;
	width: 0;
}
.sound-outer, .speed-outer {
	position: absolute;
	background-color: white;
	cursor: pointer;
	background: rgba(0, 0, 0, .7);
	border-radius: 3px;
	display: none;
	box-sizing: border-box;
}
.speed-outer span {
	font-size: .9em;
	color: white;
	text-align: right;
	display: block;
	height: 15.83px;
	line-height: 15.83px;
	width: 38px;
	padding: 0 5px;
	margin: 0 3.5px;
	box-sizing: border-box;
	transition: all .5s;
	position: relative;
}
.speed-outer span:last-child {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-bottom: 2.5px;
}
.speed-outer span:first-child {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	margin-top: 2.5px;
}
.speed-outer span:hover, .active-speed {
	background-color: rgba(105, 105, 105, 1);
}
.active {
	-webkit-box-shadow: 0px 4px 0px 0px orange;
	-moz-box-shadow: 0px 4px 0px 0px orange;
	box-shadow: 0px 4px 0px 0px orange;
}
.sound-outer {
	height: 100px;
	width: 40px;
}
.sound-outer:hover {
	opacity: 1;
}
.sound-level {
	border-radius: 3px;
	background-color: rgba(105, 105, 105, 1);
	width: 20px;
	height: 85.47px;
	position: relative;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
}
.sound-current {
	background-color: orange;
	width: 100%;
	position: absolute;
	bottom: 0;
}
@media (min-width: 400px) {
	button {
		font-size: 1em;
	}
	button:not(:last-child) {
		margin-right: 15px;
	}
	button#video-speed {
		transform: none;
	}
	button#closed-caption {
		transform: none;
	}
	button#closed-caption span {
		transition: .3s;
	}
	.sound-outer {
		height: 117px;
	}
	.sound-level {
		height: 100px;
	}
	.speed-outer span {
		height: 25px;
		line-height: 25px;
	}
	.speed-outer span:last-child {
		margin-bottom: 3.5px;
	}
	.speed-outer span:first-child {
		margin-top: 3.5px;
	}
}
@media (min-width: 768px) {
	button:not(:last-child) {
		margin-right: 25px;
	}
	.video-time {
		flex-direction: row;
		justify-content: center;
	}
	.main-video, .transcription, .video-ctrl-bar {
		width: 85%;
		max-width: 900px;
	}
	.transcription {
		font-size: 1.2em;
		line-height: 1.5;
	}
	.js-video-full {
		width: 100%;
		max-width: 100%;
		margin: auto;
	}
	#separator {
		display: inline;
	}
}
